option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: app.main:app
  aws:elasticbeanstalk:application:environment:
    DATABASE_URL: postgresql://postgres:Josephkahan2005!@tamid-blog-db.ch0woqwy8vaj.us-east-2.rds.amazonaws.com:5432/postgres
    SECRET_KEY: tamid-blog-secret-key-2024
    ALGORITHM: HS256
  aws:elasticbeanstalk:environment:proxy:staticfiles:
    /static: static
